<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mes films</h1>
    <%- include('./carousel_day.ejs') %>
    <%- include('./movie_form.ejs') %>
    <a href="/">Retour à la page d'accueil</a>
</body>
</html>