<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mes salles</h1>
    <ul>
        <% for (var i=0; i<room.length; i++){ %>
            <li>
                Nom: <%= room[i].name %>,</br>
                Capacité:  <%= room[i].capacity %>
            </li>
            </br>
        <% } %>
    </ul>
    <a href="/">Retour à la page d'accueil</a>
</body>
</html>